<a href="https://colab.research.google.com/github/irwanmaulana42/MathToolsDataScience/blob/main/Tugas02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import vega_datasets
import pandas as pd

bs = vega_datasets.data.birdstrikes()

# Mengecek apakah data ada yang not available
bs.isna()

# Jika ada data yg Not Available maka di ganti menjadi nilai data rata-rata
bs['Speed_IAS_in_knots'] = bs['Speed_IAS_in_knots'].fillna(bs['Speed_IAS_in_knots'].mean())

# Menampilkan seluruh data ke table
pd.DataFrame(bs)

,Airport__Name,Aircraft__Make_Model,Effect__Amount_of_damage,Flight_Date,Aircraft__Airline_Operator,Origin_State,When__Phase_of_flight,Wildlife__Size,Wildlife__Species,When__Time_of_day,Cost__Other,Cost__Repair,Cost__Total_$,Speed_IAS_in_knots
0,BARKSDALE AIR FORCE BASE ARPT,T-38A,None,1/8/90 0:00,MILITARY,Louisiana,Climb,Large,Turkey vulture,Day,0,0,0,300.000000
1,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/9/90 0:00,MILITARY,Louisiana,Approach,Medium,Unknown bird or bat,Night,0,0,0,200.000000
2,BARKSDALE AIR FORCE BASE ARPT,B-52,None,1/11/90 0:00,MILITARY,Louisiana,Take-off run,Medium,Unknown bird or bat,Day,0,0,0,130.000000
3,NEW ORLEANS INTL,B-737-300,Substantial,1/11/90 0:00,SOUTHWEST AIRLINES,Louisiana,Take-off run,Small,Rock pigeon,Day,0,0,0,140.000000
4,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/12/90 0:00,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,160.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,LAGUARDIA NY,A-319,None,7/24/02 0:00,US AIRWAYS*,New York,Climb,Small,European starling,Day,0,0,0,153.535176
9996,DALLAS/FORT WORTH INTL ARPT,MD-83,None,7/24/02 0:00,AMERICAN AIRLINES,Texas,Descent,Small,Unknown bird - small,Day,0,0,0,250.000000
9997,DENVER INTL AIRPORT,MD-82,None,7/24/02 0:00,AMERICAN AIRLINES,Colorado,Take-off run,Small,Horned lark,Day,0,0,0,120.000000
9998,BARKSDALE AIR FORCE BASE ARPT,B-52H,None,7/25/02 0:00,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,110.000000
9999,GREATER PITTSBURGH,EMB-145,None,7/25/02 0:00,TRANS STATES AIRLINES,Pennsylvania,Climb,Medium,Red-tailed hawk,Day,0,0,0,140.000000